<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!-- spécifier le chemin du fichier bootstrap.css -->
<link rel="stylesheet" href="../css/bootstrap.css" />
</head>
<body>

<div align="right"><a href="http://localhost:8080/ProjetAgenceVoyage/conseiller/vCTRL/listeVoyage"><img src="src/main/webapp/resources/image/maison.jpg"/></a></div>


 <h1 style="text-align:center"><b>Espace gestion des clients</b></h1>
<br/>

<nav class="navbar  navbar-static-top">
  
   <ul class="nav nav-pills">
<li role="presentation" style="background-color: aqua;"><a href="<c:url value = '/conseiller/clCTRL/listeClient' />"><b>Liste des clients enregistrés</b> </a></li>
  <li role="presentation" style="background-color: lime;"><a href="<c:url value = '/conseiller/clCTRL/formAjout' />"><b>ajouter un nouveau client a la liste</b></a></li>
  <li role="presentation" style="background-color:yellow "><a href="<c:url value = '/conseiller/clCTRL/formModif' />"><b>modifier les modalites d'un client</b> </a></li>
  <li role="presentation" style="background-color:orange "><a href="<c:url value = '/conseiller/clCTRL/formRech' />"><b>rechercher un client a la base de donnee</b></a></li>
   <li role="presentation" style="background-color: #FF4500"><a href="<c:url value = '/conseiller/clCTRL/formSupp' />"><b>supprimer un client de la base de donnee</b></a></li>
</ul>
  
</nav>

<br/>
<br/>

</body>
</html>