<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!-- spécifier le chemin du fichier bootstrap.css -->
<link rel="stylesheet" href="../css/bootstrap.css" />
</head>
<body>

<div align="right"><a href="http://localhost:8080/ProjetAgenceVoyage/conseiller/fCTRL/listeFormule"><img src="../../resources/image/information.png" width="40px" height="40px"/></a></div>



 <h1 style="text-align:center"><b>Espace gestion des voitures louees</b></h1>
<br/>

<nav class="navbar  navbar-static-top">
  
   <ul class="nav nav-pills">
<li role="presentation" style="background-color: aqua;"><a href="<c:url value='/conseiller/voiture/listeVoitures'/>"><b>Liste des voitures de locations diponibles</b> </a></li>
  <li role="presentation" style="background-color: lime;"><a href="<c:url value='/conseiller/voiture/formAjoutVoit'/>"><b>Ajouter une nouvelle voiture de location</b></a></li>
  <li role="presentation" style="background-color:yellow "><a href="<c:url value='/conseiller/voiture/updateVoit'/>"><b>modifier les modalites d'une voiture </b> </a></li> 
  
</ul>
  
</nav>

<br/>
<br/>


</body>
</html>