
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!-- spécifier le chemin du fichier bootstrap.css -->
<link rel="stylesheet" href="../css/bootstrap.css" />
</head>
<body>

<div align="right"><a href="http://localhost:8080/ProjetAgenceVoyage/conseiller/vCTRL/listeVoyageApres"><img src="src/main/webapp/resources/image/avion.jpg"/></a></div>


 <h1 style="text-align:center"><b>Espace gestion des destinations</b></h1>
<br/>

<nav class="navbar  navbar-static-top">
  
   <ul class="nav nav-pills">
<li role="presentation" style="background-color: aqua;"><a href="<c:url value='/conseiller/dsCTRL/listeDest'/>"><b>Liste des destinations disponibles</b> </a></li>
  <li role="presentation" style="background-color: lime;"><a href="<c:url value = '/conseiller/dsCTRL/afficheAjoutds' />"><b>Proposer une nouvelle destination au client</b></a></li>
  <li role="presentation" style="background-color:yellow "><a href="<c:url value = '/conseiller/dsCTRL/affichModifds' />"><b>modifier les modalites d'une destination</b> </a></li>
  <li role="presentation" style="background-color:orange "><a href="<c:url value = '/conseiller/dsCTRL/affichRechds' />"><b>rechercher une destination a la base de donnee</b></a></li>
   <li role="presentation" style="background-color: #FF4500"><a href="<c:url value ='/conseiller/dsCTRL/afficheSupprds'/>"><b>supprimer une destination de la base de donnee</b></a></li>   
</ul>
  
</nav>

<br/>
<br/>

</body>
</html>