

<nav class="navbar navbar-inverse">
	<ul class="nav nav-pills">
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/liste' />">Liste Participants</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheAjout' />">Ajouter</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheModif' />">Modifier</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheDelete' />">Supprimer</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheSearch' />">Rechercher</a></li>
	</ul>
</nav>

