

<nav class="navbar navbar-inverse">
	<ul class="nav nav-pills">
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/liste' />">Liste Participants</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheAjout' />">Ajouter</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheModif' />">Modifier</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheDelete' />">Supprimer</a></li>
		<li role="presentation"><a
			href="<c:url value = '/conseiller/pCTRL/afficheSearch' />">Rechercher</a></li>
	</ul>
</nav>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
 
 Dropdown
    <span class="caret"></span>
  </button>
<!-- navs -->
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  <li role="presentation" ><a href="<c:url value='/conseiller/vCTRL/listeVoyage'/>">Accueil </a></li>        <!-- il faut appeler dans href l'url des methodes des Controllers et non la page -->
  <li role="presentation"><a href="<c:url value='/conseiller/vCTRL/afficheAjoutVoyage'/>">Ajouter </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/vCTRL/afficheModifVoyage'/>">Modifier </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/vCTRL/afficheRechVoyage'/>">Rechercher </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/vCTRL/afficheSupprVoyage'/>">Supprimer </a></li>
  
  
  
  <li  role="presentation"> <a href="">Se déconnecter</a></li>
</ul>
 
</div>


<nav class="navbar navbar-default navbar-static-top">
 
<!-- navs -->
<ul class="nav nav-pills">
    

    <li role="presentation"><a href="<c:url value='/conseiller/fCTRL/listeFormule'/>">Liste des formules </a></li>
    <li role="presentation"><a href="<c:url value='/conseiller/fCTRL/afficheAjoutFormule'/>">Ajouter </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/fCTRL/afficheModifFormule'/>">Modifier </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/fCTRL/afficheRechFormule'/>">Rechercher </a></li>
  <li role="presentation"><a href="<c:url value='/conseiller/fCTRL/afficheSupprFormule'/>">Supprimer </a></li>
  <li  role="presentation"> <a href="">Se déconnecter</a></li>
</ul>
 
</nav>
