<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProjetAgenceVoyage</display-name>
  
  
  <!-- Déclaration du listenner qui charge le context springIOC -->
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Déclaration des context de application context et spring security : -->
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
  <!-- Déclaration de la servlet de spring mvc -->
  <servlet>
  <servlet-name>springDispatcherServlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  
  <!-- déclaration du context de mvc-context : -->
  <init-param>
  <param-name>contextConfigLocation</param-name>
<param-value>/WEB-INF/mvcContext.xml</param-value> 
  </init-param>
  </servlet>
  
  <!-- mapping de la servlet  -->
  <servlet-mapping>
  <servlet-name>springDispatcherServlet</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- Spécification  de la page d'accueil -->
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
</web-app>